<div id="customerHistory" class="tab-pane card">
  <header class="flex filter-buttons">
    <h3>History | Filter by type</h3>
    <button class="filter-btn" data-filter="order">Orders</button>
    <button class="filter-btn" data-filter="report">Reports</button>
    <button class="filter-btn active" data-filter="">All</button>
  </header>
  <table id="ordersTable" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>

