{% extends "base.html" %}
{% block title %}Toplivres{% endblock %}
{% block content %}
{% include "partials/_customer_nav.html" %}

<div id="customer-dashboard" class="tab-content hidden">
  <div id="customer-header">
    <h2>Bienvenue dans ton espace client, <span id="customer-name">Customer</span></h2>
    <p>Ici, tu as la possibilité de faire des commandes et de les suivre. Nous t'offrons un historique ainsi que des statistiques de vente.</p>
  </div>

  {% include "partials/_book_selection.html" %}
  {% include "partials/_customer_history.html" %}
  {% include "partials/_customer_inventory.html" %}
  {% include "partials/_customer_stats.html" %}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
